# Object file
*.o

# Ada Library Information
*.ali

bin/*.weights
test-videos/
adrian/*.weights

Custom Object Detection/bin/*.weights
Custom Object Detection/ckpt/
Custom Object Detection/dataset/
Custom Object Detection/train/